services:
  go_web_messenger:
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - 8080
    environment:
      - MONGODB_URI=mongodb://user:password@mongo:27017/webMessenger?authSource=admin
    depends_on:
      - mongo
    networks:
      - webmessenger-net
      - mega-main
    labels:
      - traefik.enable=true
      - traefik.http.routers.go_web_messenger.entrypoints=websecure
      - traefik.http.routers.go_web_messenger.rule=Host(`messenger.foxelyss.ru`)
      - traefik.http.services.go_web_messenger.loadbalancer.server.port=8080

  mongo:
    image: mongo:latest
    expose:
      - 27017
    volumes:
      - mongo-data:/data/db
    networks:
      - webmessenger-net

volumes:
  mongo-data:

networks:
  webmessenger-net:
  mega-main:
    external: true
    name: mega-network