version: '3.8'

services:
  app:
    container_name: go_web_messenger
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - MONGODB_URI=mongodb://user:password@mongo:27017/webMessenger?authSource=admin
    depends_on:
      - mongo
    networks:
      - webmessenger-net

  mongo:
    container_name: mongo_db
    image: mongo:latest
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin12345
    volumes:
      - mongo-data:/data/db
    networks:
      - webmessenger-net

volumes:
  mongo-data:

networks:
  webmessenger-net:
    driver: bridge