body {
	font-family: Arial;
	background-color: #dae1e9;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}
.container {
	text-align: center;
	background-color: #f8f8ff;
	padding: 40px 50px;
	border-radius: 10px;
	box-shadow: 0 6px 5rem rgba(0, 0, 0, 0.2);
}
h1 {
	font-size: 24px;
	color: #124e82;
	margin-bottom: 10px;
}

a {
	display: inline-block;
	padding: 12px 24px;
	background-color: #dae1e9;
	color: #000;
	text-decoration: none;
	border-radius: 6px;
	font-weight: bold;
	transition: background-color 0.3s ease;
	box-shadow: 0 4px 2rem rgba(0, 0, 0, 0.1);
}
a:hover {
	background-color: #5b7baa;
}