@font-face {
	font-family: RazerF5;
	font-weight: normal;
	font-stretch: 70%;
	src: url("dehinted-RazerF5-Bold.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: RazerF5, Arial;
}

::-webkit-scrollbar {
	width: 0;
}

body {
	display: flex;
	height: 100vh;
	background-color: #dae1e9;
}

/* Стили боковой панели */
.sidebar {
	width: 250px;
	background: #124e82;
	color: #dae1e9;
	transition: all 0.3s ease;
	box-shadow: 10px 0 1rem rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
}

.sidebar-header {
	padding: 1rem 5px;
	text-align: center;
	border-bottom: 2px solid #90a5ba;
}

.sidebar-header h2 {
	font-size: 1.3rem;
	margin-bottom: 5px;
}

.search {
	display: flex;
	align-items: center;
	border-bottom: 2px solid #90a5ba;
}

#searchInput {
	background-color: #5b7baa;
	flex-grow: 1;
	color: #e3e8ed;
	border: none;
	margin: 10px 4px;
	border-radius: 17px;
	text-align: start;
}

#searchButton {
	background-color: #5b7baa;
	border: none;
	color: #e3e8ed;
	padding: 10px 12px;
	margin: 10px 4px;
	border-radius: 17px;
	cursor: pointer;
	font-size: 1rem;
}

#searchInput::placeholder {
	color: #e3e8ed;
	text-align: start;
}

.sidebar-menu {
	overflow-y: scroll;
	flex: 1;
}

.sidebar-menu ul {
	list-style: none;
}

.sidebar-menu li {
	margin-bottom: 3px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: space-between
}

.sidebar-menu a {
	flex: content;
	padding: 12px 20px;
	color: #dae1e9;
	text-decoration: none;
	border-left: 3px solid transparent;
}

.sidebar-menu li:hover {
	background-color: #5b7baabe;
	border-left: 4px solid #90a5ba;
}

.sidebar-menu li.active {
	background-color: #5b7baa55;
	border-left: 3px solid #90a5ba;
}

.delete-chat-btn {
	background-color: #5b7baa;
	border-radius: 1rem;
	border: none;
	cursor: pointer;
	padding: 8px;
	margin-right: 10px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidebar-menu li:hover .delete-chat-btn {
	visibility: visible;
	opacity: 1;
}

.delete-chat-btn img {
	width: 20px;
	height: 20px;
}

.sidebar-footer {
	padding: 10px;
	border-top: 2px solid #90a5ba;
	text-align: center;
}

#logoutButton {
	width: 80%;
	background-color: #5b7baa;
	color: #e3e8ed;
	border: none;
	border-radius: 17px;
	cursor: pointer;
}

/* Стили основного контента */
.main-content {
	flex: 1;
	padding: 30px;
}

/* Messages */
#messages {
	max-height: 38rem;
	min-width: 100px;
	list-style-type: none;
	padding: 20px;
	padding-bottom: 10px;
	overflow-y: auto;
}

#messages li {
	margin-bottom: 12px;
	border-radius: 18px;
	padding: 5px 7px;
	word-wrap: break-word;
	color: #dae1e9;
	font-size: large;
	font-weight: bold;
}

#messages .sent-mes {
	text-align: right;
}

#messages .received-mes {
	text-align: left;
}

.received-mes {
	background-color: #5550F2;
}

.sent-mes {
	background-color: #027368;
}

.server-mes {
	background-color: #a31313;
}

input {
	padding: 10px;
	border: 2px solid #aebecd;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
	width: 95%;
}

input:focus-visible {
	border-color: #aebecd;
	outline: 2px solid #aebecd;
}

#messageInput {
	flex-grow: 1;
	margin-right: 10px;
}

.message-input-container {
	display: flex;
	margin-bottom: 20px;
}

#sendMessageButton {
	padding: 5px 20px;
	background-color: #124e82;
	color: #dae1e9;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

#sendMessageButton:hover {
	background-color: #1a6faa;
}

#notification-container {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.notification {
	background-color: #124e82;
	color: #dae1e9;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	cursor: pointer;
	transition: opacity 0.5s ease-in-out;
}

.notification:hover {
	background-color: #1a6faa;
}

/* Burger Menu Button */
#burger-menu {
	display: none;
	position: absolute;
	top: 2rem;
	left: 10px;
	background: #124e82;
	color: white;
	border: none;
	font-size: 35px;
	padding: 0 10px;
	border-radius: 5px;
	cursor: pointer;
	z-index: 1002;
}

@media (max-width: 768px) {
	.sidebar {
		position: relative;
		overflow-x: hidden;
	}

	#sendMessageButton {
		width: 100px;
		padding: 2px;
		font-size: 14px;
	}
	
	.sidebar {
		position: fixed;
		left: -250px;
		top: 0;
		height: 100%;
		z-index: 1001;
		transition: left 0.3s ease;
	}

	.sidebar.open {
		left: 0;
	}

	#burger-menu {
		display: block;
	}

	.main-content h1 {
		text-align: center;
	}

	#notification-container {
		top: 70px;
	}
}