@font-face {
	font-family: RazerF5;
	font-weight: normal;
	font-stretch: 70%;
	src: url("dehinted-RazerF5-Bold.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: RazerF5, Arial;
}

body {
	display: flex;
	max-height: 100vh;
	background-color: #dae1e9;
}

/* Стили боковой панели */
.sidebar {
	width: 250px;
	background: #124e82;
	color: #dae1e9;
	transition: all 0.3s ease;
	box-shadow: 10px 0 1rem rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	max-height: 100vh;
}

.sidebar-header {
	padding: 1rem 5px;
	text-align: center;
	border-bottom: 2px solid #90a5ba;
}

.sidebar-header h2 {
	font-size: 1.3rem;
	margin-bottom: 5px;
}

.search {
	display: flex;
	align-items: center;
	border-bottom: 2px solid #90a5ba;
}

#searchInput {
	background-color: #5b7baa;
	color: #e3e8ed;
	border: none;
	max-width: 100%;
	margin: 10px 7px;
	border-radius: 17px;
	text-align: start;
}

#searchInput::placeholder {
	color: #e3e8ed;
	text-align: start;
}

.sidebar-menu {
	overflow-y: scroll;
}

.sidebar-menu ul {
	list-style: none;
}

.sidebar-menu li {
	margin-bottom: 3px;
}

.sidebar-menu a {
	display: flex;
	align-items: center;
	padding: 12px 20px;
	color: #dae1e9;
	text-decoration: none;
	border-left: 3px solid transparent;
}

.sidebar-menu a:hover {
	background-color: #5b7baabe;
	border-left: 4px solid #90a5ba;
}

.sidebar-menu a.active {
	background-color: #5b7baa55;
	border-left: 3px solid #90a5ba;
}

.sidebar-footer {
	padding: 15px;
	border-top: 2px solid #90a5ba;
	text-align: center;
	font-size: 0.8rem;
	opacity: 0.7;
}

/* Стили основного контента */
.main-content {
	flex: 1;
	padding: 30px;
	overflow-y: auto;
}

/* Messages */
#messages {
	max-height: 38rem;
	min-width: 100px;
	max-width: 95%;
	list-style-type: none;
	padding: 20px;
	overflow-y: auto;
}

#messages li {
	margin-bottom: 12px;
	border-radius: 18px;
	padding: 5px 7px;
	word-wrap: break-word;
	color: #dae1e9;
	font-size: large;
	font-weight: bold;
}

#messages .sent-mes {
	text-align: right;
}

#messages .received-mes {
	text-align: left;
}

.received-mes {
	background-color: #5550F2;
}

.sent-mes {
	background-color: #027368;
}

.server-mes {
	background-color: #a31313;
}

input {
	padding: 10px;
	border: 2px solid #aebecd;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
	width: 95%;
	margin-bottom: 20px;
	box-sizing: border-box;
}

input:focus-visible {
	border-color: #aebecd;
	outline: 2px solid #aebecd;
}

/* Адаптивность */
@media (max-width: 768px) {
	body {
		flex-direction: column;
	}
	
	.sidebar {
		width: 100%;
		height: auto;
	}
	
	.sidebar-menu {
		display: flex;
		overflow-x: auto;
	}
	
	.sidebar-menu ul {
		display: flex;
	}
	
	.sidebar-menu li {
		margin-bottom: 0;
		margin-right: 5px;
	}
	
	.sidebar-menu a {
		white-space: nowrap;
		border-left: none;
		border-bottom: 3px solid transparent;
	}
	
	.sidebar-menu a:hover,
	.sidebar-menu a.active {
		border-left: none;
		border-bottom: 3px solid #3498db;
	}
}