body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	margin: 0;
	background-color: #f0f2f5;
}

#messages {
	max-height: 37rem;
	min-width: 100px;
	max-width: 95%;
	list-style-type: none;
	padding: 20px;
	margin: 0;
	overflow-y: auto;
}

#messages li {
	margin-bottom: 12px;
	border-radius: 18px;
	padding: 5px 7px;
	word-wrap: break-word;
}

#messages .sent {
	text-align: right;
}

#messages .received {
	text-align: left;
}

input {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
	width: 95%;
	margin-bottom: 20px;
	box-sizing: border-box;
}